uthere-backend/UthereBackend/MyAuth/__pycache__/
uthere-backend/UthereBackend/UthereBackend/__pycache__/
uthere-backend/UthereBackend/Features/__pycache__/
uthere-backend/UthereBackend/MyAuth/migrations/
uthere-backend/UthereBackend/api-env/
.DS_Store
.DS_Store
.DS_Store
