body {
	font-family: 'Century Gothic';
}

.uthere {
	position: absolute;
	left: 15px;
	top: 15px;
}

.contact-form {
	position: absolute;
	top: 38%;
	left: 39%;
	margin-top: -100px;
	margin-left: -150px;
	border: 1px solid;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
}

.dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  padding: 25px 50px;
}

.grid-container {
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	display: grid;
	background-color: rgb(242, 242, 242);
	grid-template-columns: auto auto auto;
}
.grid-item {
	background-color: rgb(242, 242, 242);
	font-size: 30px;
	text-align: center;
}
.calibration-button-1 {
	position: absolute;
	top:0;
	left: 0;
	background-color: #fff0d5;
	border: solid black;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 15px;
}
.calibration-button-2 {
	position: absolute;
	top:0;
	left: 50%;
	background-color: #fff0d5;
	border: solid black;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	width: 2px;
	height: 2px;
}
.calibration-button-3 {
	position: absolute;
	top:0;
	right: 0;
	background-color: #fff0d5;
	border: solid black;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	width: 2px;
	height: 2px;
}
.calibration-button-4 {
	position: absolute;
	top:42%;
	left: 0;
	background-color: #fff0d5;
	border: solid black;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	width: 2px;
	height: 2px;
}
.calibration-button-5 {
	position: absolute;
	top:84%;
	left: 0;
	background-color: #fff0d5;
	border: solid black;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	width: 2px;
	height: 2px;
}
.calibration-button-6 {
	position: absolute;
	top:84%;
	left: 50%;
	background-color: #fff0d5;
	border: solid black;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	width: 2px;
	height: 2px;
}
.calibration-button-7 {
	position: absolute;
	top:84%;
	right: 0;
	background-color: #fff0d5;
	border: solid black;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	width: 2px;
	height: 2px;
}
.calibration-button-8 {
	position: absolute;
	top:42%;
	right:0;
	background-color: #fff0d5;
	border: solid black;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	width: 2px;
	height: 2px;
}
.calibration-button-9 {
	position: absolute;
	top:42%;
	left:50%;
	background-color: #fff0d5;
	border: solid black;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	width: 2px;
	height: 2px;
}
.page-background {
	position: fixed;
	top: 110px;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgb(242, 242, 242);
	display: flex;
	align-items: center;
	justify-content: center;
}

.dashboard-table-columns {
	border-collapse: separate;
	border-spacing: 80px 0;
}

.logout-position {
	position: absolute;
	left: 91%;
	top: 15%;
}

.profile {
	position: absolute;
	top: 40%;
	left: 42%;
	margin-top: -100px;
	margin-left: -150px;
	border: 1px solid;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
	height: 380px; 
	overflow: auto;
  }
  

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-inner {
	position: relative;
	width: 60%;
	max-width: 600px;
	max-height: 80%;
	border-radius: 15px;
	background-color: #FFF;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	overflow: auto;
	padding: 20px;
	font-size: 1.1rem;
}

.popup-clipboard {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center

}

.popup-inner-clipboard {
	position: relative;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	display: flex;
}


.popup-inner-clipboard h5 {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	background-color: #ffffff;
	color: #000000;
	border-radius: 25px;
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 10px;
  }
  


.popup-inner-calibration {
	position: center;
	width: 45%;
	height: 50%;
	max-width: 700px;
	max-height: 180px;
	border-radius: 15px;
	background-color: #FFF;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	padding: 30px;
	font-size: 1.1rem;
}

.popup-inner button {
  background-color: orange;
  color: #f8fff9;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.popup-inner button:hover {
  background-color: orange;
}


.popup-participants {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.popup-inner-participants {
	position: relative;
	width: 60%;
	max-width: 330px;
	max-height: 40%;
	border-radius: 15px;
	background-color: #f5f5f5;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	overflow: auto;
	padding: 10px;
	font-size: 0.9rem;
}

.popup-close2 {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background-color: transparent;
	color: #666;
	font-size: 1rem;
	cursor: pointer;
}

.popup-close2:hover {
	color: #000;
}

.popup-inner-participants h4 {
	color: #333;
	font-size: 1.3rem;
	margin-bottom: 20px;
}

.popup-inner-participants table {
	width: 100%;
	border-collapse: collapse;
}

.popup-inner-participants th,
.popup-inner-participants td {
	padding: 5px;
	border: 1px solid #ddd;
	text-align: left;
}

.popup-inner-participants th {
	background-color: #eee;
}

.popup-inner-participants tr:hover {
	background-color: #f0f0f0;
}

.popup-inner-participants button {
	background-color: #f8931f;
	color: #fff;
	border: none;
	padding: 1px 1px;
	border-radius: 4px;
	font-size: 0.9rem;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.popup-inner-participants button:hover {
	background-color: #e76e00;
}







.popup2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.popup-inner2 {
	position: relative;
	width: 60%;
	max-width: 350px;
	max-height: 30%;
	border-radius: 15px;
	background-color: #FFF;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	overflow: auto;
	padding: 20px;
	font-size: 0.7rem;
}


.popup-inner2 h2 {
	font-size: 1.2rem;
	color: #4d4d4d;
	margin-top: 0;
}

.popup-inner2 button {
	background-color: #ff6600;
	color: #ffffff;
	border: none;
	padding: 3px 8px;
	border-radius: 5px;
	font-size: 0.9rem;
	cursor: pointer;
	margin-top: 10px;
  }
  
  .popup-inner2 button:hover {
	background-color: orange;
  }

  
  .popup-close3 {
	background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
}







.popup-close {
	position: relative;
	bottom: 180px;
	left: 20px;
}




.vid-container {
	position: relative;
}

.vid {
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	height: 270px;
	background-color: black;
}

.vid:nth-child(2) {
	left: 276px;
	top: 0;
}
.vid:nth-child(3) {
	left: 552px;
	top: 0;
}

.vid:nth-child(4) {
	left: 0;
	top: 273px;
}

.vid:nth-child(5) {
	left: 276px;
	top: 273px;
}

.vid:nth-child(6) {
	left: 552px;
	top: 273px;
}



.abc {
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	justify-items: center;
	align-items: center;
	height: 90vh;
}

.meeting-controls {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
	background-color: white;
	box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.15);
}

.meeting-control {
	margin: 0px auto;
	grid-template-columns: repeat(4, 25%);
	max-width: 95vw;
	display: flex;
	width: 100%;
	align-items: center;
	gap: 50px;
	cursor: pointer;
	color: #555;
	flex: 1;
}


.meeting-control button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;
	padding: 40px;
	border: none;
	background-color: transparent;
	color: #555;
}

.meeting-control button:hover {
	color: #0884ff;
}

.meeting-control button i {
	font-size: 1px;
}


.meeting-window {
	max-width: 850px;
}

.label-terms{
	color: blue;
	text-decoration: underline;
}

.video-label-container {
  position: absolute;
  top: 5px;
  left: 10px;
  display: flex;
  align-items: center;
  padding: 1px;
}
.video-label-container-2 {
	position: absolute;
	top: 0px;
	left: 276px;
	display: flex;
	align-items: center;
	padding: 1px;
  }

.video-label {
  margin: 0;
  font-size: 15px;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


.loading {
	position: fixed;
  	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
	color: #ffb241;
}

.meeting-ending {
	position: absolute;
	top: 38%;
	left: 39%;
	margin-top: -100px;
	margin-left: -150px;
	border: 1px solid;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
}

.meeting-participants-table {
	border-collapse: separate;
  	border-spacing: 10px;
}

.meeting-participants-table td {
  padding: 10px;
}


.popup-attention {
	position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
z-index: 5;
  }
  
  .popup-attention-inner {
	position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .popup-attention-inner h5 {
	margin-top: 0;
  }
  

  .vid2 {
	position: absolute;
  top: 20%;
  right: 10px;
  width: 62%;
  height: 68%;
  background-color: black;
  transform: scale(0.5);
  transform-origin: top right;
  }
  
  
  .popup-remove {
	position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
z-index: 5;
  }
  
  .popup-remove-inner {
	position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }


  .popup-error {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .popup-error-inner {
	position: relative;
	width: 60%;
	max-width: 400px;
	max-height: 80%;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	overflow: auto;
	padding: 30px;
	font-size: 1.1rem;
  }

  .popup-terms {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .popup-terms-inner {
	text-align: left; 
	position: relative;
	width: 70%;
	max-width: 800px; 
	max-height: 90%; 
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	overflow: auto;
	padding: 10px; 
	font-size: 1.1rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .popup-terms-inner::-webkit-scrollbar {
	width: 8px; /* Customize the width of the scrollbar */
  }
  
  .popup-terms-inner::-webkit-scrollbar-thumb {
	background-color: #888; /* Customize the color of the scrollbar thumb */
	border-radius: 4px; /* Round the edges of the scrollbar thumb */
  }
  
  .popup-terms-inner::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* Change the color of the scrollbar thumb on hover */
  }
  
  .two-side {
	display: flex;
  }

  .two-side form {
	width: 50%;
	margin-right: 20px;
  }
  .two-side div {
	width: 50%;
	margin-right: 10px;
  }

  .poll-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	}
  .poll-popup-inner {
	position: relative;
	width: 60%;
	max-width: 600px;
	max-height: 80%;
	border-radius: 15px;
	background-color: #FFF;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	overflow: auto;
	padding: 20px;
	font-size: 1.1rem;
}

.popup-poll {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-poll-inner {
	position: relative;
	width: 26%;
	max-width: 600px;
	max-height: 80%;
	border-radius: 15px;
	background-color: #FFF;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	overflow: auto;
	padding: 20px;
	font-size: 1.1rem;
}

.popup-poll-inner button {
	background-color: orange;
	color: #f8fff9;
	border: none;
	padding: 5px 8px;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
  }
  
  .popup-poll-inner button:hover {
	background-color: orange;
  }
  